/* FONTS */

@font-face {
  font-family: BGP-Black;
  src: url(./fonts/BGP-Black.ttf);
}

@font-face {
  font-family: BGP-Bold;
  src: url(./fonts/BGP-Bold.ttf);
}

@font-face {
  font-family: BGP-Light;
  src: url(./fonts/BGP-Light.ttf);
}

@font-face {
  font-family: BGP-Medium;
  src: url(./fonts/BGP-Medium.ttf);
}

@font-face {
  font-family: BGP-Regular;
  src: url(./fonts/BGP-Regular.ttf);
}

/* VARIABLES */

:root {
	--bg-dark-grey: #111111;
	--bg-grey: #141414;
	--bg-light-grey: #1a1a1a;
	--bg-light: #222222;
	--text-dark-grey: #666666;
	--text-grey: #b3b3b3;
	--white: #e5e5e5;
	--heading-yellow: #ffdd17;	
	--dull-yellow: #ccad15;	
	--dull-yellow-50: #ccae1580;	
}

/* STYLING */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "BGP-Regular", serif;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-light-grey);
	background-image: url("./images/textures/dust1.jpg");
	background-blend-mode: lighten;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--bg-dark-grey);
	background-image: url("./images/textures/paper2.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
}

.navbar .items ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.navbar .items ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.navbar .items ul a {
	font-family: "BGP-Bold", serif;
	font-size: 20px;
	margin: auto 5vw;
	padding: 0px 5px;
	border-radius: 2px;
	text-decoration: none;
	color: var(--text-grey);
	transition: background-color 0.2s, color 0.2s;
}

.navbar .items ul a.select {
	background-color: var(--dull-yellow);
	color: var(--bg-dark-grey);
}

.github {
  position: absolute;
  right: 2%;
  display: flex;
  align-items: center;
}

.github a {
	font-family: "BGP-Medium", serif;
	font-size: 16px;
	display: flex;
  padding: 0.7vw;
  text-decoration: none;
  color: var(--text-grey);
}

.github-logo {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.container {
	width: 80%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	background-color: var(--bg-grey);
	background-image: url("./images/textures/dusty1.jpg");
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container .about {
	width: 100%;
	background-color: var(--bg-grey);
	padding-top: 15px;
	background-image: url("./images/textures/dusty1.jpg");
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
	border-bottom: var(--dull-yellow-50) dashed 0.15vw;
}

.about h1 {
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
}

.about h1 span:nth-child(1) {
	font-family: "BGP-Black", serif;
}

.about h1 span:nth-child(2) {
	font-family: "BGP-Bold", serif;
}

.about h1 span:nth-child(3) {
	font-family: "BGP-Medium", serif;
}

.about h1 span:nth-child(4) {
	font-family: "BGP-Regular", serif;
}

.about h1 span:nth-child(5) {
	font-family: "BGP-Light", serif;
}

.about p {
	padding: 30px;
	color: var(--text-grey);
}

.discography {
	position: relative;
	height: 600px;
	width: 100%;
	background-color: var(--bg-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background-image: url("./images/textures/dusty1.jpg");
	background-blend-mode: color-dodge;
	background-size: cover;
	background-position: center;
	border-bottom: var(--dull-yellow-50) dashed 0.15vw;
}

.discography .title {
	position: absolute;
	top: 20px;
	left: auto;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
}

.discography .title span:nth-child(1) {
	font-family: "BGP-Black", serif;
}

.discography .title span:nth-child(2) {
	font-family: "BGP-Bold", serif;
}

.discography .title span:nth-child(3) {
	font-family: "BGP-Medium", serif;
}

.discography .title span:nth-child(4) {
	font-family: "BGP-Regular", serif;
}

.discography .title span:nth-child(5) {
	font-family: "BGP-Light", serif;
}

.disco-timeline {
	background-image: url("images/disco/disco-timeline2.png");
	background-repeat: repeat-y;
	height: 100%;
	width: 0.5%;
	margin: 15% 0 10%;
}

.disco-albums {
	height: 10em;
	position: relative;
}

.disco-albums a {
	font-family: "BGP-Medium", serif;
	font-size: 1.3em;
	color: var(--white);
	text-decoration: none;
	outline: none;
	cursor: pointer;
	top: -0.25em;
}

.disco-albums .disco-date {
	font-family: "BGP-Medium", serif;
	color: var(--text-dark-grey);
	font-size: 0.8em;
	top: 1.45em;
}

.disco-right a {
	position: absolute;
	left: 0.8em;
	
}

.disco-right .disco-date {
	position: absolute;
	left: 1.3em;
	
}

.disco-left a {
	position: absolute;
	right: 0.8em;
}

.disco-left .disco-date {
	position: absolute;
	right: 7.8em;
	top: 1.45em;
}

.disco-albums .disco-dot {
	position: absolute;
	height: 1em;
	width: 1em;
	left: calc(50% - 0.5em);
	object-fit: contain;
}

/* ************************** */


.albums {
	padding: 20px 0 40px;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
	background-color: var(--bg-grey);
	background-image: url("./images/textures/dusty1.jpg");
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
}

.albums span:nth-child(1) {
	font-family: "BGP-Black", serif;
}

.albums span:nth-child(2) {
	font-family: "BGP-Bold", serif;
}

.albums span:nth-child(3) {
	font-family: "BGP-Medium", serif;
}

.albums span:nth-child(4) {
	font-family: "BGP-Regular", serif;
}

.albums span:nth-child(5) {
	font-family: "BGP-Light", serif;
}

section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 0 40px 0;
	background-color: var(--bg-grey);
	background-image: url("./images/textures/dusty1.jpg");
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
}

section .album-image{
	width: 60%;
	height: 60%;
	flex-shrink: 0;
}

section .info {
	width: 40%;
	height: 60%;
	padding: 0px 30px 10px;
	color: var(--text-grey);
}

section .info .heading{
	font-family: "BGP-Medium", serif;
	font-size: 2.5em;
	color: var(--heading-yellow);
	margin-bottom: -5px;
}

section .info .released {
	color: var(--text-dark-grey);
	margin: 0 0 20px 2px;
	font-size: 0.8em;
}

.extrainfo {
	margin-bottom: 20px;
}

.extrainfo span {
	color: var(--text-dark-grey);
}

section div.buttons {
	padding: 45px 45px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section button {
background-color: transparent;
border: none;
cursor: pointer;
overflow: hidden;
text-decoration: none;
outline:none;
}

section button:active {
	text-decoration: none;
}

section button.purchase {
	width: 100%;
	font-size: 16px;
	font-family: "BGP-Bold", serif;
	padding: 8px;
	border-radius: 3px;
	background-color: var(--dull-yellow);
}

section button.view {
	margin-top: 8px;
	font-family: "BGP-Medium", serif;
	font-size: 13px;
	color: var(--dull-yellow);
}

.photo-gallery {
	width: 100px;
	height: 50px;
	/* background-color: white; */
}

/* ############# */

footer {
	position: relative;
	height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;	
	background-color: var(--bg-dark-grey);
	background-image: url("./images/textures/paper2.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
}

footer .heart {
  text-align: center;
  margin: 0 5px;
  height: 13px;
  width: 13px;
  animation: pound 0.35s infinite alternate;
}

footer .line-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--text-dark-grey);
}

footer .line-2 {
	font-size: 16px;
	font-family: "BGP-Medium", serif;
  color: var(--white);
}

footer .line-3 {
	position: absolute;
	right: 30px;
	top: auto;
	display: flex;
  align-items: center;
  justify-content: center;
	font-family: "BGP-Medium", serif;
  font-size: 15px;
  color: var(--text-grey);
}

footer .line-3 img {
	height: 18px;
}


/* #### MEDIA QUERIES ####  */

@media only screen and (max-width: 992px) {
	.navbar {
		height: 6vw;
	}
	
	.navbar .items ul a {
		font-size: 2vw;
		margin: 0 5vw;
		padding: 0px 0.5vw;
		border-radius: 0.2vw;
	}

	.github a {
		font-size: 1.6vw;
		padding: 0.7vw;
	}
	
	.github-logo {
		height: 1.8vw;
		width: 1.8vw;
		margin-right: 0.5vw;
	}

	.container {
		min-height: 100vh;
	}

	.container .about {
		padding-top: 1.5vw;
	}
	
	.about h1 {
		font-size: 6vw;
	}
	
	.about p {
		font-size: 1.6vw;
		padding: 3vw;
	}	
	
	.discography {
		height: 50vw;
	}
	
	.discography .title {
		top: 2vw;
		font-size: 6vw;
	}
	
	.discography .disco-timeline {
		top: 12.5vw;
	}
	
	.disco-albums {
		height: 15vw;
	}
	.disco-albums a {
		font-size: 2vw;
	}

	.disco-albums .disco-date {
		font-size: 1.23vw;
	}

	.disco-albums .disco-dot {
		height: 1.5vw;
		width: 1.5vw;
		left: calc(50% - 0.75vw);
	}

	.albums {
		padding: 2vw 0 4vw;
		font-size: 6vw;
	}

	section {
		font-size: 1.6vw;
		padding: 0 0 4vw 0;
	}
	
	section img{
		width: 40vw;
		height: 40vw;
	}
	
	section .info {
		padding: 0px 3vw 1vw;
	}
	
	section .info .heading{
		font-size: 4vw;
		margin-bottom: -0.5vw;
	}
	
	section .info .released {
		margin: 0 0 2vw 0.2vw;
		font-size: 1.2vw;
	}
	
	.extrainfo {
		margin-bottom: 2vw;
	}

	section div.buttons {
		padding: 3vw 3vw 0;
	}

	section button.purchase {
		font-size: 1.6vw;
		padding: 0.8vw;
		border-radius: 0.3vw;
	}
	
	section button.view {
		margin-top: 0.8vw;
		font-size: 1.3vw;
	}
	
	footer {
		height: 7vw;
	}
	
	footer .heart {
		margin: 0 0.5vw;
		height: 1.3vw;
		width: 1.3vw;
	}
	
	footer .line-1 {
		font-size: 1.5vw;
	}
	
	footer .line-2 {
		font-size: 1.6vw;
	}
	
	footer .line-3 {
		right: 3vw;
		font-size: 1.5vw;
	}
	
	footer .line-3 img {
		height: 1.8vw;
	}

}


@keyframes pound {
  to {
    transform: scale(1.2);
  }
}