/* FONTS */

@font-face {
  font-family: BasisGrotesquePro-Black;
  src: url(./fonts/BasisGrotesquePro-Black.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-BlackItalic;
  src: url(./fonts/BasisGrotesquePro-BlackItalic.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(./fonts/BasisGrotesquePro-Bold.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-BoldItalic;
  src: url(./fonts/BasisGrotesquePro-BoldItalic.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-Italic;
  src: url(./fonts/BasisGrotesquePro-Italic.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-Light;
  src: url(./fonts/BasisGrotesquePro-Light.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-LightItalic;
  src: url(./fonts/BasisGrotesquePro-LightItalic.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-Medium;
  src: url(./fonts/BasisGrotesquePro-Medium.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-MediumItalic;
  src: url(./fonts/BasisGrotesquePro-MediumItalic.ttf);
}

@font-face {
  font-family: BasisGrotesquePro-Regular;
  src: url(./fonts/BasisGrotesquePro-Regular.ttf);
}

/* VARIABLES */

:root {
	--bg-dark-grey: #111111;
	--bg-grey: #141414;
	--bg-light-grey: #1a1a1a;
	--bg-light: #222222;
	--text-dark-grey: #666666;
	--text-grey: #b3b3b3;
	--white: #e5e5e5;
	--heading-yellow: #ffdd17;	
	--dull-yellow: #ccad15;	
	--dull-yellow-50: #ccae1580;	
}

/* STYLING */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "BasisGrotesquePro-Regular", serif;
}

body {
	background-color: var(--bg-light-grey);
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--bg-dark-grey);
}

.navbar .items ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.navbar .items ul a {
	font-family: "BasisGrotesquePro-Bold", serif;
	font-size: 20px;
	margin: 0 5vw;
	padding: 0px 5px;
	border-radius: 2px;
	text-decoration: none;
	color: var(--text-grey);
	transition: background-color 0.2s, color 0.2s;
}

.navbar .items ul a.select {
	background-color: var(--dull-yellow);
	color: var(--bg-dark-grey);
}

.github {
  position: absolute;
  right: 2%;
  display: flex;
  align-items: center;
}

.github a {
	font-family: "BasisGrotesquePro-Medium", serif;
	font-size: 16px;
	display: flex;
  padding: 0.7vw;
  text-decoration: none;
  color: var(--text-grey);
}

.github-logo {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.container {
	width: 80%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	background-color: var(--bg-grey);
}

.container .about {
	width: 100%;
	background-color: var(--bg-grey);
	padding-top: 15px;
	/* border-bottom: var(--dull-yellow-50) dashed 2px; */
}

.about h1 {
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
}

.about h1 span:nth-child(1) {
	font-family: "BasisGrotesquePro-Black", serif;
}

.about h1 span:nth-child(2) {
	font-family: "BasisGrotesquePro-Bold", serif;
}

.about h1 span:nth-child(3) {
	font-family: "BasisGrotesquePro-Medium", serif;
}

.about h1 span:nth-child(4) {
	font-family: "BasisGrotesquePro-Regular", serif;
}

.about h1 span:nth-child(5) {
	font-family: "BasisGrotesquePro-Light", serif;
}

.about p {
	padding: 30px;
	color: var(--text-grey);
}

.discography {
	position: relative;
	height: 80vh;
	width: 100%;
	background-color: var(--bg-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.discography .title {
	position: absolute;
	top: 20px;
	left: auto;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
}

.discography .title span:nth-child(1) {
	font-family: "BasisGrotesquePro-Black", serif;
}

.discography .title span:nth-child(2) {
	font-family: "BasisGrotesquePro-Bold", serif;
}

.discography .title span:nth-child(3) {
	font-family: "BasisGrotesquePro-Medium", serif;
}

.discography .title span:nth-child(4) {
	font-family: "BasisGrotesquePro-Regular", serif;
}

.discography .title span:nth-child(5) {
	font-family: "BasisGrotesquePro-Light", serif;
}

.discography #timeline {
	margin-top: 100px;
	width: 5px;
	height: 70%;
	background-color: var(--heading-yellow);
	border-radius: 0 0 2.5px 2.5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.discography #startpoint {
	margin-top: 75px;
	position: absolute;
	top: 9%;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: var(--heading-yellow);
}

.discography .timelineAlbums {
	color: var(--white);
	position: absolute;
	left: 52%;
	top: 125px;
}

.discography .timelineAlbums div:nth-child(1) {
	font-family: "BasisGrotesquePro-Medium", serif;
	font-size: 1.3em;
}

.discography .timelineAlbums div:nth-child(2) {
	font-family: "BasisGrotesquePro-Medium", serif;
	color: var(--text-dark-grey);
	font-size: 0.8em;
	margin-top: -5px;
}

.albums {
	margin: 20px 0 40px;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: var(--heading-yellow);
}

.albums span:nth-child(1) {
	font-family: "BasisGrotesquePro-Black", serif;
}

.albums span:nth-child(2) {
	font-family: "BasisGrotesquePro-Bold", serif;
}

.albums span:nth-child(3) {
	font-family: "BasisGrotesquePro-Medium", serif;
}

.albums span:nth-child(4) {
	font-family: "BasisGrotesquePro-Regular", serif;
}

.albums span:nth-child(5) {
	font-family: "BasisGrotesquePro-Light", serif;
}

section {
	position: relative;
	display: flex;
	justify-content: space-around;
	padding: 0 0 40px 0;
}

section img{
	width: 60%;
	height: 60%;
}

section .info {
	padding: 0px 30px 10px;
	color: var(--text-grey);
}

section .info .heading{
	font-family: "BasisGrotesquePro-Medium", serif;
	font-size: 2.5em;
	color: var(--heading-yellow);
	margin-bottom: -5px;
}

section .info .released {
	color: var(--text-dark-grey);
	margin: 0 0 20px 2px;
	font-size: 0.8em;
}

.extrainfo {
	margin-bottom: 20px;
}

.extrainfo span {
	color: var(--text-dark-grey);
}

section div.buttons {
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section button {
background-color: transparent;
border: none;
cursor: pointer;
overflow: hidden;
text-decoration: none;
outline:none;
}

section button:active {
	text-decoration: none;
}

section button.purchase {
	width: 100%;
	font-size: 16px;
	font-family: "BasisGrotesquePro-Bold", serif;
	padding: 8px;
	border-radius: 2px;
	background-color: var(--dull-yellow);
}

section button.view {
	margin-top: 8px;
	font-family: "BasisGrotesquePro-Medium", serif;
	font-size: 13px;
	color: var(--dull-yellow);
}

/* ############# */

footer {
	height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;	
	background-color: var(--bg-dark-grey);
}

footer .heart {
  text-align: center;
  margin: 0 5px;
  height: 13px;
  width: 13px;
  animation: pound 0.35s infinite alternate;
}

footer .line-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--text-dark-grey);
}

footer .line-2 {
	font-size: 16px;
	font-family: "BasisGrotesquePro-Medium", serif;
  color: var(--white);
}

@keyframes pound {
  to {
    transform: scale(1.2);
  }
}